.text {
    font-size: 3rem;
}

.letter {
    margin: 1px;
}

.current {
    color: #00aaff;
    text-decoration: underline;
}

.miss {
    background-color: rgb(243, 186, 186);
    color: rgb(148, 58, 58);
}

.hit {
    background-color: rgb(186, 243, 186);
    color: rgb(58, 148, 58);
}

.input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 0;
    border: none;
    color: transparent;
    caret-color: rgb(0, 0, 0);
}
